NEXT_PUBLIC_APP_VERSION="1.2.0"
SECRET_API_KEY="super_secret_server_key_123"
DB_CONNECTION_STATUS="dev_mode"

DATABASE_URL="postgresql://user:qwerty@ep-orange-block-alrkdct2-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"

DATABASE_URL_UNPOOLED="postgresql://user:qwerty@ep-orange-block-alrkdct2.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require"

AUTH_SECRET="generate-with-npx-auth-secret"
AUTH_URL="http://localhost:3000"

AUTH_GOOGLE_ID="your-google-client-id"
AUTH_GOOGLE_SECRET="your-google-client-secret"

AUTH_GITHUB_ID="your-github-client-id"
AUTH_GITHUB_SECRET="your-github-client-secret"